<% if local_assigns.fetch(:new_content, false) %>
  <div class="border-t border-gray-200 p-4 bg-blue-200 transition-colors duration-1000" data-controller="blink" data-blink-class-to-remove-value="bg-blue-200">
    <%= render(TweetComponent.new(tweet: tweet)) %>
  </div>
<% else %>
  <div class="border-t border-gray-200 p-4">
    <%= render(TweetComponent.new(tweet: tweet)) %>
  </div>
<% end %>
